h3 Basic Information
table.table.table-condensed.table-striped
  thead
    tr
      td.span3
      td.span2
      td.span2
        if fellow_id == window.model.fellow.attributes.fellow_id
          a.edit(href="#") Edit
  tbody
    tr
      th.span3 First Name
      td.span2
      td.span2= first_name
    tr
      th.span3 Last Name
      td.span2
      td.span2= last_name
    tr
      th.span3 Gender
      td.span2
      - if (gender == 1)
        td.span2 male
      - else
        td.span2 female
    tr
      th.span3 Lauguages
      td.span2
      td.span2= language
    tr
      th.span3 Fields of Work
      td.span2
      td.span2= job
    tr
      th.span3 Locations of work
      td.span2
      td.span2= location
    tr
      th.span3 Target Populations
      td.span2
      td.span2= target
