h3 Contact Information
table.table.table-condensed.table-striped
  thead.span8
    tr
      td.span3
      td.span2
      td.span2
        if fellow_id == window.model.fellow.attributes.fellow_id
          a.edit(href="#") Edit
  tbody
    tr
      th.span3 Country code
      td.span2
      td.span2= mobile_country_code
    tr
      th.span3 Mobile phone
      td.span2
      td.span2= mobile
    tr
      th.span3 Mail
      td.span2
        .bold
          |Home
        br
        | #{home_street}
        br
        | #{home_city} 
        br
        | #{home_state} 
        br
        | #{home_country} 
        br
        | #{home_zip}
      td.span2
        .bold Business
        | #{business_street} 
        br
        | #{business_city}
        br
        | #{business_state} 
        br
        | #{business_country}
        br
        | #{business_zip}
    tr
      th.span3 Skype ID
      td.span2
      td.span2= skype_id