h3 Organization information       
table.table.table-condensed.table-striped
  thead.span8
    tr
      td
      td
      td
        a.edit(href="#") Edit
      td
  tbody
    tr
      th
        | Organization Name
      td
      td=organization_name 
      td
    tr 
      th
        | Organization Acronym
      td
      td=organization_acronym 
      td
    tr
      th
        | Date organization formed
      td 
      td=date_organization_formed 
      td
    tr
      th
        | Organization Website URL
      td
      td=organization_website_url 
      td
    tr
      th
        | Organization Type
      td
      td=organization_type 
      td
    tr
      th
        | Number of employees
      td
      td=number_of_employees 
      td
    tr
      th Estimated annual budget
      td
      td=organization_estimated_annual_budget   
      td  
    tr
      th
        | Country Code
      td
      td=organization_phone_number_country_code  
      td   
    tr
      th
        | Phone Number
      td
      td=organization_phone_number 
      td