h3 Organization information       
table.table.table-condensed.table-striped
  thead.span8
    tr
      td.span3
      td.span2
      td.span2
        if fellow_id == window.model.fellow.attributes.fellow_id
          a.edit(href="#") Edit
  tbody
    tr
      th.span3
        | Organization Name
      td.span2
      td.span2=organization_name 
    tr 
      th.span3
        | Organization Acronym
      td.span2
      td.span2=organization_acronym 
    tr
      th.span3
        | Date organization formed
      td.span2
      td.span2=date_organization_formed 
    tr
      th.span3
        | Organization Website URL
      td.span2
      td.span2=organization_website_url 
    tr
      th.span3
        | Organization Type
      td.span2
      td.span2=organization_type 
    tr
      th.span3
        | Number of employees
      td.span2
      td.span2=number_of_employees 
    tr
      th.span3 Estimated annual budget
      td.span2
      td.span2=organization_estimated_annual_budget   
    tr
      th.span3
        | Country Code
      td.span2
      td.span2=organization_phone_number_country_code  
    tr
      th.span3
        | Phone Number
      td.span2
      td.span2=organization_phone_number 