.row
  .span4
    .well
      div
        a(href="#profile/#{fellow_id}")
          img(src="#{img}", data-name="#{first_name}")
        .h2.nameRight
          | #{first_name}
    .wellWithoutBorder
      ul.nav.nav-tabs.nav-stacked
        li
          a(href="#")#offersLink Offers
        li
          a(href="#profile/#{fellow_id}")#infoLink Information
    #relationshipBlock
  .span8#profileContent
    #basic-profile
    #contact-info
    #organization-info

      
