h1 relationship
h3
  |#{I.get_frendly_name()} have followed #{attentions.length} people:
ul.thumbnails
  each fellow in attentions.models
    li.span1
      a.thumbnail(href="#profile/#{fellow.attributes.fellow_id}")
        img(src="#{fellow.attributes.img}",title="#{fellow.get_frendly_name()}")
h3
  |#{followers.length} people have followed #{I.get_frendly_name()} :
ul.thumbnails
  each fellow in followers.models
    li.span1
      a.thumbnail(href="#profile/#{fellow.attributes.fellow_id}")
        img(src="#{fellow.attributes.img}",title="#{fellow.get_frendly_name()}")

.row
  p.span2.offset1#followButtonContainter
    if followed
      button.btn.btn-large#unfollow Unfollow
    else
      button.btn.btn-large.btn-primary#follow Follow
